h1 {
  width: 300px;
  height: 100px;
  color: #1ea4c6;
  text-align: center;
  line-height: 110px;
  background-color: #ddd;
}
#p1 {
  color: #f00;
}
.selector {
  color: purple;
}
.selector {
  font-style: italic;
}
#h2 {
  font-weight: bolder;
}
h2.selector {
  text-decoration: underline;
}
.google {
  display: block;
  width: 100px;
  height: 60px;
  background: url("../imgs/google.png") center center / contain no-repeat;
}
h3 {
  color: orange;
}
h4 {
  color: skyblue;
}
h5 {
  color: orange;
  border: $color 1px solid;
  background-color: $color;
}
@media (min-width: 768px) {
  .element {
    font-size: 1.2rem;
  }
}
p {
  font-size: calc(30px / 2 );
}
p {
  width: calc(122px);
}
