body {
  text-align: center;
}
ul,
ol {
  list-style: none;
}
#p1 {
  height: 225px;
  width: 225px;
  background: url(../imgs/cat.png) center / 100% no-repeat;
}
.convert {
  width: 0.2cm;
  height: 2;
}
.unit {
  width: 5px;
  height: 2em;
  line-height: 5;
}
.format::after {
  content: "d 20px 199 "hello" #000000";
  content: "D 20px 199 %22hello%22 %23000000";
  content: "s 20px 199 hello #000000";
  content: "S 20px 199 hello %23000000";
  content: "a 20px 199 "hello" #000000";
  content: "A 20px 199 %22hello%22 %23000000";
}
.string {
  content: %3Chtml%3E;
  width: calc(50% - 20px);
}
.replace {
  content: "box:1px 1px #00aa10;";
  box-shadow: box:1px 1px #00aa10;
}
.list {
  color: blue;
  n: 5;
}
.math {
  width: 4px;
  width: 3px;
  height: 25%;
  height: 1em;
  width: 0.5;
  height: NaNem;
  height: 7.3em;
  width: 2px;
  height: 20%;
}
.type-isnumber {
  isnumber: true false false false false;
}
.type-isstring {
  isstring: true false false;
}
.type-iscolor {
  iscolor: true true true false;
}
.type-iskeyword {
  iskeyword: true true true false;
}
.type-ispixel {
  ispixel: true false;
}
.type-isem {
  isem: false true;
}
.type-isunit {
  isunit: true true true;
}
.type-isruleset {
  isruleset: true false;
}
